* {
    box-sizing: border-box;
}
body{
    background-color: #222222;
    margin: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    color: #fff;
}

p{
    font-weight: bold;
    color: #dfdfdf;
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    font-size: large;
}

img{
    width: 666px;
    height: auto;
    margin-right: 20px;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}

