* {
     box-sizing: border-box;
 }

body {
    background-color: #ddd;
    margin: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 25px;
    background-color: #fff;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}
header {
    text-align: center;
    margin-bottom: 50px;
}
li{
    height: 30px;

}
img {
    float: left;
    margin-left: 20px;
    width: 200px;
    height: auto;
}