* {
    box-sizing: border-box;
}
body{
    background-color: #222222;
    margin: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;

}

header {
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-right: 25px;
    padding: 15px 0;
    display: inline-block;
}
header nav ul li a {
    color: rgba(225, 225, 225, 0.55);
    text-decoration: none;
}
header nav ul li.active a,
header nav ul li a:hover {
    color: #fff;
}

h1 {
    color: #fff;
}

p{
    font-weight: bold;
    color: #dfdfdf;
    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    font-size: large;
}

img{
    float: left;
    width: 200px;
    height: auto;
    margin-right: 20px;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}

img {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;

}