{% extends 'base.html.twig' %}

{% block title %}Cristea ioan-Edit Post{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/blog.css") }}">
{% endblock %}

{% block body %}

    <div class="container">

        {{ form(editPostForm) }}

        <a class="post-btn post-back-link" href="{{ path('blog_first_page') }}">Inapoi</a>

    </div>

{% endblock %}
