{% extends 'base.html.twig' %}

{% block title %}Pagina personala{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/bettina_elena_stil.css") }}">
{% endblock %}

{% block body %}

    <div class="container">
        <p>My name is Bettina and i'm glad to see you on my website!</p>
        <img src="{{ asset("images/bettina.jpg") }}">
        <ul>
            <li>1</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>6</li>
        </ul>
        <p>Sent me a feedback!</p>
    </div>

{% endblock %}