
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="{{ asset('css/bunulescu_stefan_stil.css') }}" rel="stylesheet"/>

	<title>Bunulescu Stefan</title>
</head>
<body>
	<section>
		<article>
			<header"><h1>Bunulescu Stefan</h1></header>

				<img id="img" src="{{ asset('images/programmer.jpg') }}" alt="Carina Nebula"/>

				<p id="side-text">Egestas erat imperdiet sed euismod nisi porta. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Libero volutpat sed cras ornare arcu dui vivamus arcu. Porta nibh venenatis cras sed felis eget. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Massa tincidunt dui ut ornare. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Pellentesque eu tincidunt tortor aliquam. Orci porta non pulvinar neque laoreet suspendisse. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut.</p>
		</article>
		<article id="side-article">
			<header></header>	

				<p class="default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris ultrices eros in cursus. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Ac felis donec et odio pellentesque diam volutpat. Nullam non nisi est sit amet facilisis. Bibendum enim facilisis gravida neque convallis a cras semper. Augue eget arcu dictum varius duis. Nisi scelerisque eu ultrices vitae auctor eu augue ut. Gravida dictum fusce ut placerat orci nulla. Purus semper eget duis at tellus.</p>
				
				<p class="default">Egestas erat imperdiet sed euismod nisi porta. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Libero volutpat sed cras ornare arcu dui vivamus arcu. Porta nibh venenatis cras sed felis eget. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Massa tincidunt dui ut ornare. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Pellentesque eu tincidunt tortor aliquam. Orci porta non pulvinar neque laoreet suspendisse. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Proin nibh nisl condimentum id venenatis a condimentum vitae. Duis convallis convallis tellus id interdum velit laoreet id. Laoreet sit amet cursus sit. Penatibus et magnis dis parturient montes.</p>

				<ul class="default">
					<li>Element lista #1</li>
					<li>Element lista #2</li>
					<li>Element lista #3</li>
					<li>Element lista #4</li>
					<li>Element lista #5</li>
				</ul>
			
		</article>	
	</section>
</body>
</html>

