<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Padureanu Denis</title>

    <link rel="stylesheet" href="{{ asset('css/Cilnicean.stil.css') }}">
</head>
<body>

    <div class="container">
        <p>Blood for the blood God</p>

        <ul>
            <li>Elementul 1</li>
            <li>Elementul 2</li>
            <li>Elementul 3</li>
	    <li>Elementul 4</li>
        </ul>

        <img src="{{ asset('images/img98.jpg') }}" alt="">

        <p>Some may question right to destroy ten bilion people. Those who undersand realise that you have no right to let them live!</p>

    </div>

</body>
</html>
