<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Moises Dorin</title>

    <link rel="stylesheet" href="{{ asset('css/Cilnicean.stil.css') }}">
</head>
<body>

    <div class="container">

        <p>
          lista simpla
        </p>
        <ul>
            <li>Elementul 1</li>
            <li>Elementul 2</li>
            <li>Elementul 3</li>
        </ul>

        <img src="{{ asset('images/img99.jpg') }}" alt="">

        <p>
         "En Taro Adun"
        </p>

    </div>

</body>
</html>
